:root {
  --INFORMATION-BACKGROUND: url(../images/info_BG.jpg);
}
@font-face {
  font-family: "College";
  src: url(../fonts/College.ttf);
}
* {
  margin: 0;
  font-family: Tahoma;
}
body {
  margin: 12px;
  background-color: #cacedd;
  overflow: hidden;
  display: flex;
}
.informations {
  background-image: var(--INFORMATION-BACKGROUND);
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: 50%;
  border-radius: 10px;
  width: 300px;
  height: 97vh;
  text-align: center;
  box-shadow: 0 0 10px 0 black;
  margin-right: 25px;
  overflow: hidden;
}
.informations .info_bg {
  position: absolute;
  background: linear-gradient(rgba(255, 255, 255, 0.4), #4169e1);
  border-radius: 10px;
  height: inherit;
  width: inherit;
}
.informations .info_bg #hta_icon {
  position: absolute;
  top: 155px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
}
.informations .info_bg #person_picture {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 white;
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin-top: 20px;
}
.informations .info_bg .person_informations {
  color: white;
  text-shadow: 0 0px 5px black;
}
.informations .info_bg .person_informations hr {
  margin: auto;
  box-shadow: 0 0 2px 0 black;
  width: 70%;
}
.informations #rfid_code {
  position: relative;
  width: 286px;
  height: 49px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 0 !important;
  top: 610px;
  opacity: 0.2;
  transition: opacity 0.5s;
}
.informations #rfid_code::placeholder {
  text-align: center;
}
.informations #rfid_code:hover {
  opacity: 1;
}
.main_nav [data-show="0"] {
  display: none;
}
.main_nav [data-show="1"] {
  display: block;
}
.main_nav .nav_buttons {
  display: flex;
  z-index: -1;
}
.main_nav .nav_buttons [data-fn="button"] {
  color: white;
  font-family: "College";
  background: #dedede;
  padding: 30px;
  -webkit-user-select: none;
  user-select: none;
  width: 124px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}
.main_nav .nav_buttons [data-fn="button"]:hover {
  background: white;
  color: black;
}
.main_nav .nav_buttons [data-fn="button"]:nth-child(1) {
  border-radius: 20px 0 0 0;
}
.main_nav .nav_buttons [data-fn="button"]:nth-child(3) {
  border-radius: 0 20px 0 0;
}
.main_nav .nav_buttons [data-fnSelected="1"] {
  background: white !important;
  color: royalblue;
}
.main_nav .nav_lists {
  z-index: 2;
  margin-left: -5px;
  background: linear-gradient(white, royalblue);
  border-radius: 5px;
  width: 73vw;
  height: 84vh;
  box-shadow: 0 0 10px 0 black;
}
.main_nav .nav_home div {
  z-index: 1;
  position: absolute;
  text-align: center;
  font-size: 60px;
}
.main_nav .nav_home div h1 {
  font-family: "College";
}
.main_nav .nav_home div h1 hr {
  border-color: black;
  margin: 0 auto;
  width: 300px;
}
.main_nav .nav_home div h1 p {
  font-size: 15px;
}
.main_nav .nav_home span {
  height: 84vh;
  width: 73vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_nav .nav_home span img {
  height: 450px;
  opacity: 0.09;
}
.main_nav .nav_records {
  padding: 10px;
  padding-right: 15px;
}
.main_nav .nav_misc {
  padding: 30px;
}
.main_nav .nav_misc h1 {
  font-size: 40px;
  font-family: "College";
}
